<div class="text-left">
  <div class='row'>
    <div class='col-md-12'>
      <h1 class="heading-title">{{title}}</h1>
    </div>


    <div class="col-md-12">
      <div class="row pl-2">
        <div class="col-md-12">
          <h2 class="title">
            Topic1: Built in pipes
          </h2>

          <div class="pl-2">
            <h3 class="subtitle">
              {{name | uppercase}}'s
              {{msg | lowercase}}
              {{bddyDate | date: format | lowercase | uppercase}}
            </h3>
            <button (click)="toggleFormat()">Toggle Format</button>
            <div class="col-md-12 explanation">
              <a target="_blank" href="https://angular.io/api?type=pipe">
                <h4>
                  ...Find some more about built in pipes
                </h4>
              </a>
            </div>
          </div>
        </div>


        <div class="col-md-12 explanation">
          <h2>Topic2: Custom pipe</h2>

          <div class="pl-2">
            <input type="number" [(ngModel)]="number" placeholder="number">
            <input type="number" [(ngModel)]="power" placeholder="power">

            <h3> {{number}} raise to the power {{power}} = {{number | exponentialStrength: power}}</h3>
          </div>
        </div>


        <div class="col-md-12 explanation">
          <h2>Topic3: Pipes and change detection</h2>

          <div class="pl-2">
            <h3> Angulars' change detection process runs after every DOM event: every keystroke, mouse move, timer tick,
              and
              server response. This could be expensive in case of pipes</h3>

            <h3>So Angular picks a simpler, faster change detection algorithm when you use a pipe.</h3>

            <h3>If we add an element in the array we are iterating, like this heroes.push(another hero)</h3>

            <h3>This would work fine without filter, but if used with filter this is not going to update the view,
              because same array, no change, no display update</h3>

            <h3>
              If you mutate the array, no pipe is invoked and the display isn't updated; if you replace the array,
              the pipe executes and the display is updated.
            </h3>
            <h4><a href="https://angular.io/guide/pipes#pipes-and-change-detection" target="_blank">Click here for
              details </a></h4>
          </div>
        </div>

        <div class="col-md-12 explanation">
          <h2>Topic3: Pure and impure pipes: </h2>

          <div class="pl-2">
            <h2>1: Pure pipes</h2>

            <div class="pl-2">
              Angular executes a pure pipe only when it detects a pure change to the input value. A pure change is
              either a change to a primitive input value (String, Number, Boolean, Symbol) or a changed object reference
              (Date, Array, Function, Object).
            </div>
          </div>
          <div class="pl-2">
            <h2>2: Impure pipes</h2>

            <div class="pl-2">
              Angular executes an impure pipe during every component change detection cycle. An impure pipe is called
              often, as often as every keystroke or mouse-move.
            </div>
            <div class="pl-2">
              <pre>{{createImpureSyntax}}</pre>
            </div>
            <div class="pl-2">

            </div>
          </div>
        </div>
        <div class="col-md-12 explanation">
          <h2>Topic4: Async pipes </h2>

          <div class="pl-2"><h3 class="pl-2">Example:</h3>

            <div>
              <async-message></async-message>
            </div>
          </div>
        </div>
        <div class="col-md-12 explanation">
          <h2>Topic5: An impure caching pipe</h2>

          <div class="pl-2">
            <h4>
              Remember that impure pipes are called every few milliseconds. If you're not careful, this pipe will punish
              the server with requests.
            </h4>
            <h4>
              But you can handle the code of transform and optimize that like with caching.
            </h4>

            <div>
              <h4><a target="_blank" href="https://angular.io/guide/pipes#an-impure-caching-pipe">Know more</a></h4>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
