<div class="text-left">
  <div class='row'>
    <div class='col-md-12'>
      <h1 class="heading-title">{{title}}</h1>
    </div>
    <div class="col-md-12 pl-2">
      <h2>Tools and technologies</h2>
      <div class="pl-2">
        <div class="col-md-12">
          <h2>Jasmine</h2>
          <h3 class="pl-2">The Jasmine test framework provides everything needed to write basic tests. It ships with an HTML test runner that executes tests in the browser.</h3>
        </div>
        <div class="col-md-12">
          <h2>Angular testing utilities</h2>
          <h3 class="pl-2">Angular testing utilities create a test environment for the Angular application code under test</h3>
        </div>
        <div class="col-md-12">
          <h2>Karma test runner</h2>
          <h3 class="pl-2">Test runner</h3>
        </div>
        <div class="col-md-12">
          <h2>Protractor</h2>
          <h3 class="pl-2">Help in writing and running end-to-end test cases.</h3>
        </div>
      </div>
    </div>


    <div class="col-md-12 pl-2">
      <h2>Isolated unit tests vs. the Angular testing utilities</h2>
      <div class="pl-2">
        <div class="col-md-12">
          <h2></h2>
          <h3 class="pl-2">
            Isolated unit tests examine an instance of a class all by itself without any dependence on Angular or any injected values. The tester creates a test instance of the class with new
          </h3>
        </div>
      </div>
    </div>
    <div class="col-md-12 pl-2">
      <h2>Test a component -Sync AppBanner</h2>
      <div class="pl-2">
        <div class="col-md-12">

          <h3>There are some comments in the code files, since they are directly related with code itself</h3>
          <app-banner></app-banner>
        </div>
      </div>
    </div>
    <div class="col-md-12 pl-2">
      <h2>Test a component -ASync AppBanner</h2>
      <div class="pl-2">
        <div class="col-md-12">

          <app-banner-async></app-banner-async>
        </div>
      </div>
    </div>
    <div class="col-md-12 pl-2">
      <h2>Test dependancy -Sync service</h2>
      <div class="pl-2">
        <div class="col-md-12">

          <app-welcome></app-welcome>
        </div>
      </div>
    </div>
  <div class="col-md-12 pl-2">
      <h2>Test dependancy -Async service</h2>
      <div class="pl-2">
        <div class="col-md-12">

          <twain-quote></twain-quote>
        </div>
      </div>
    </div>
  </div>
</div>
