
.show-bg-image {
  background: red url('http://www.iconsdb.com/icons/preview/black/checkmark-xl.png') no-repeat;
}

.hide-bg-image {
  background: blue;
}

.text-input-directory-container {
  height: 2vw;
  width: 2vw;
  border: 1px solid blue;
  background-size: 2vw;
  display: inline-block;
}

.text-input-directory-input {
  opacity: 0;
  height: 2vw;
  width: 2vw;
  margin: 0;
}
