<div>
  <div class='row'>
    <div class='col-md-12'>
      <h1 class="heading-title">{{title}}</h1>
    </div>


<h1>
  <div >
    Work under construction for attribute directory
    <div myCheckboxDirectory>
      <input type="checkbox" >
    </div>
  </div>
</h1>

    <div class="col-md-12">
      <ol>
        <li>
          <div class="row">
            <div class="col-md-12">
              <h2 class="title">
                Topic1: Bla bla bla
              </h2>

              <h3  class="subtitle">
                Summary bla bla bla
              </h3>
            </div>
            <div class="col-md-12 explanation">
              Sample and explanation
            </div>

          </div>
        </li>
      </ol>
    </div>
  </div>
</div>
