<!--The content below is only a placeholder and can be replaced.-->
<div>
  <div>
    <div class="form-group row">
      <div class="col-md-12">
        <h1>Angular samples</h1>
      </div>
    </div>
  </div>
  <nav class="navbar navbar-default">
    <ul class="nav navbar-nav">
      <li>
        <a routerLinkActive="active"
           [routerLink]="['template-syntax']">Template Syntax</a>
      </li>
      <li>
        <a routerLinkActive="active"
           [routerLink]="['lifecycle-hooks']">Lifecycle Hooks</a>
      </li>
      <li>
        <a routerLinkActive="active"
           [routerLink]="['angular-animations']">Angular animations</a>
      </li>
      <li>
        <a routerLinkActive="active"
           [routerLink]="['internationalization']">Internationalization</a>
      </li>
      <li>
        <a routerLinkActive="active"
           [routerLink]="['component-interactions']">Component Interactions</a>
      </li>
      <li>
        <a routerLinkActive="active"
           [routerLink]="['testing']">Testing component</a>
      </li>

    </ul>
  </nav>

  <div class="panel panel-primary" style="text-align:center">
    <div class="panel-heading">
      Welcome to {{title}}!
    </div>
    <div class="panel-body">
      <router-outlet></router-outlet>
      <!--<tasks-list enterTaskTitle="Enter new todo"></tasks-list>-->
    </div>
  </div>

</div>
